<mat-toolbar color="primary">
  <span>Login</span>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate (ngSubmit)='onSubmit()' #loginForm = "ngForm" appearence = "outline">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput type="text" placeholder="Username" name="userename"
        [(ngModel)] = "user.username" #username = "ngModel" required>
        <mat-error *ngIf="username.errors?.required">Username cannot be blank</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password"
        [(ngModel)] = "user.password" #password = "ngModel" required>
        <mat-error *ngIf="password.errors?.required">Password cannot be blank</mat-error>
      </mat-form-field>
    </p>
    <p>
        <mat-checkbox class="example-margin" [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form>