<mat-toolbar color="primary">
  <span>Login</span>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate (ngSubmit)='onSubmit()' appearence = "outline">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput type="text" placeholder="Username" name="userename"
        [(ngModel)] = "user.username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password"
        [(ngModel)] = "user.password">
      </mat-form-field>
    </p>
    <p>
        <mat-checkbox class="example-margin" [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white">Login</button>
  </mat-dialog-actions>
</form>